/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
body {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}

img {
  border-radius: 100%;
  border: solid 3px rgb(0, 149, 255);
  margin-top: 50px;
  margin-left: 245px;
}
h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 52px;
}
p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 18px;
}
a {
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  border: 2px solid rgb(0, 149, 255);
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 310px;
}
a:hover {
  color: white;
  background-color: rgb(0, 149, 255);
}

/* div {
  display: flex;
} */
